In [1]:
import pandas as pd
import numpy as np

In [2]:
! pip install gTTS

Requirement already satisfied: gTTS in c:\users\nikita mahoviya\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: beautifulsoup4 in c:\users\nikita mahoviya\anaconda3\lib\site-packages (from gTTS) (4.8.0)
Requirement already satisfied: gtts-token>=1.1.3 in c:\users\nikita mahoviya\anaconda3\lib\site-packages (from gTTS) (1.1.3)
Requirement already satisfied: click in c:\users\nikita mahoviya\anaconda3\lib\site-packages (from gTTS) (7.0)
Requirement already satisfied: six in c:\users\nikita mahoviya\anaconda3\lib\site-packages (from gTTS) (1.12.0)
Requirement already satisfied: requests in c:\users\nikita mahoviya\anaconda3\lib\site-packages (from gTTS) (2.22.0)
Requirement already satisfied: soupsieve>=1.2 in c:\users\nikita mahoviya\anaconda3\lib\site-packages (from beautifulsoup4->gTTS) (1.9.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\nikita mahoviya\anaconda3\lib\site-packages (from requests->gTTS) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\nikita mahoviya\anaconda3\lib\site-packages (from requests->gTTS) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nikita mahoviya\anaconda3\lib\site-packages (from requests->gTTS) (2019.9.11)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\nikita mahoviya\anaconda3\lib\site-packages (from requests->gTTS) (1.24.2)

In [3]:
# Import the required module for text 
# to speech conversion 
from gtts import gTTS 

# This module is imported so that we can 
# play the converted audio 
import os

In [4]:
df=pd.DataFrame({'name':['Nikita Mahoviya'],'order_id':['5201'],'amount':['2000'],'delivery_status':['failed'],'called':'no'})
df

              name order_id amount delivery_status called
0  Nikita Mahoviya     5201   2000          failed     no

In [5]:
df.loc[1]=['Shiva Tiwari','2301','300','failed','no']
df.loc[2]=['Prabha Naraniya','5607','3760','accepted','no']
a=df.values
r,c=a.shape
print(r)
df

3

              name order_id amount delivery_status called
0  Nikita Mahoviya     5201   2000          failed     no
1     Shiva Tiwari     2301    300          failed     no
2  Prabha Naraniya     5607   3760        accepted     no

In [8]:

language = 'en'
# The text that you want to convert to audio 
for i in range(r):
    if((a[i][3]=='failed')or(a[i][3]=='accepted')):
        if((a[i][4]=='no')and (a[i][3]=='failed')):
            mytext = "hello "+a[i][0]+" , we tried to deliver your order, numbered: "+a[i][1]+" , amount"+a[i][2]+",today but failed to do so"+"if you want your product to deliver again press 1 else 0"
            myobj = gTTS(text=mytext, lang=language, slow=False) 
            myobj.save("python.mp3")
            os.system("python.mp3")
            x=int(input("Press 1 if you want again and 0 if not:"))
            if(x==1):
                a[i][3]="retry"
                a[i][4]="yes"
            else:
                a[i][3]="rejected"
                a[i][4]="yes"
        elif(a[i][4]=='no'):
            mytext = "hello "+a[i][0]+" , we have delivered your order, numbered: "+a[i][1]+"amount"+a[i][2]+"today, if you have not accepted your order press 1"
            myobj = gTTS(text=mytext, lang=language, slow=False) 
            myobj.save("python.mp3")
            os.system("python.mp3")
            x=int(input("Press 1 if you have not taken delivery:"))
            if(x==1):
                a[i][3]="delivered but not accepted"
                a[i][4]="yes"
            else:
                a[i][4]="yes"


# Passing the text and language to the engine, 
# here we have marked slow=False. Which tells 
# the module that the converted audio should 
# have a high speed 
#myobj = gTTS(text=mytext, lang=language, slow=False) 

# Saving the converted audio in a mp3 file named 
# welcome 
#myobj.save("python.mp3") 

# Playing the converted file 
#os.system("mpg321 welcome.mp3")

Press 1 if you want again and 0 if not:1
Press 1 if you want again and 0 if not:2
Press 1 if you have not taken delivery:6

In [7]:
df

              name order_id amount delivery_status called
0  Nikita Mahoviya     5201   2000          failed     no
1     Shiva Tiwari     2301    300          failed     no
2  Prabha Naraniya     5607   3760        accepted     no